@tailwind base;
@tailwind components;
@tailwind utilities;

/* 세로 스크롤바 스타일 */
::-webkit-scrollbar {
  height: 0px;
  width: 0px;
  background: #000000;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  -webkit-border-radius: 1ex;
}

/* 가로 스크롤바 스타일 */
::-webkit-scrollbar-horizontal {
  height: 0px;
  width: 0px;
  background: #f8f8f7;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #a0a0a0;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner:horizontal {
  background: #fff3;
}
